dependencies/
resources/
build/
.vs/
raytracing.sln
raytracing.vcxproj
raytracing.vcxproj.filters
raytracing.vcxproj.user
.gitattributes
CMakeLists.txt
x64/Release/raytracing.tlog/raytracing.lastbuildstate
x64/Release/raytracing.tlog/link.command.1.tlog
x64/Release/raytracing.pdb
x64/Release/raytracing.ipdb
x64/Release/raytracing.iobj
x64/Release/main.obj
x64/Release/glfw3.dll
x64/Release/glew32.dll
x64/Release/flyscene.obj
result.ppm
x64/Release/vc142.pdb
x64/Release/raytracing.tlog/raytracing.write.1u.tlog
x64/Release/raytracing.tlog/link.write.1.tlog
x64/Release/raytracing.tlog/link.read.1.tlog
x64/Release/raytracing.tlog/CL.write.1.tlog
x64/Release/raytracing.tlog/CL.read.1.tlog
x64/Release/raytracing.tlog/CL.command.1.tlog
x64/Release/raytracing.log
x64/Release/raytracing.exe
